[core]
	excludesfile = /Users/andre.patricio/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = André Patrício
	email = andre.patricio.1@sapo.pt
	signingkey = E13131AEF9BFDED
[commit]
	template = /Users/andre.patricio/.stCommitMsg
#	gpgsign = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    fix = commit -a --amend --no-edit
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
    whitespace = red reverse
[gpg]
	program = gpg
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
[mergetool]
	keepBackup = false
[pull]
	rebase = true
