[core]
	excludesfile = /Users/andredp/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = André Patrício
	email = andre.patricio.1@sapo.pt
	mail = andre.patricio.1@sapo.pt
	signingkey = 92CF08722B852B9A
[commit]
	template = /Users/andredp/.stCommitMsg
	gpgsign = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
    whitespace = red reverse
[alias]
    fix=commit -a --amend --no-edit
[gpg]
	program = gpg
